@page "/demos"
@using SportNugget.Components.Demos
@inject IJSRuntime JS

<h3>Blah</h3>
<Test></Test>
<Component1></Component1>

@code {
    protected override async Task OnInitializedAsync()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        
    }
}
