@typeparam T

<h3>Test</h3>

<table class="table">
    <thead>
        <tr>@TableHeader</tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            if (RowTemplate is not null)
            {
                <tr>@RowTemplate(item)</tr>
            }
            else
            {
                <tr>@item</tr>
            }
        }
    </tbody>
    <tfoot>
        @FooterContent
    </tfoot>
</table>