@page "/Login"
@inherits PageBase

<RadzenCard>
    <h2 class="mb-4">Register and password reset</h2>
    <RadzenTemplateForm Data=@("LoginWithRegisterAndReset")>
    <RadzenLogin />
    </RadzenTemplateForm>
</RadzenCard>